@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #F7F8FA;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #EBEEF2;
}



body {

  background-color: var(--background-end-rgb);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #F1F1F1;
}

body::-webkit-scrollbar-thumb {
  background-color: #DDDCDC;
  border-radius: 4px;

}