@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #F7F8FA;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #EBEEF2;
}



body {

  background-color: var(--background-end-rgb);
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}